@import url('https://use.typekit.net/sth4szs.css');

body {
  margin: 0;
  font-family: stratos, 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: stratos, 'Roboto', 'Helvetica Neue',
  sans-serif;
}
